@import 'styles/variables';

.Button {
    border: 0;
    padding: 1rem 2.5rem;
    background-color: $red;

    color: $off-white;
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: $paragraph-size;
}

.Button:hover {
    background-color: $dark-blue;
    cursor: pointer;
}