@import 'styles/variables';

.button {
    border: 0;
    padding: 1rem 2.5rem;
    background-color: $red;

    color: $off-white;
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1rem;
}

.button:hover {
    background-color: $dark-blue;
    cursor: pointer;
}