@import 'styles/variables';

.mainNews {
    margin: 1.5rem 0 4rem 0;
    max-width: 500px;

    h1 {
        color: $dark-blue;
        font-weight: $font-bolder;
        font-size: $main-title-size;
        margin-bottom: 1rem;
    }

    p {
        color: $grayish-blue;
        font-weight: $font-normal;
        font-size: $paragraph-size;
        line-height: 2;
        margin-bottom: 1.5rem;
    }
}