@import 'styles/variables';

.News {
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $grayish-blue;

    &_title {
        display: inline-block;
        color: $off-white;
        margin-bottom: .5rem;
        font-weight: 700;
        font-size: $title-size;
    }

    &_title:hover {
        color: $orange;
        cursor: pointer;
    }

    &_paragraph {
        color: $light-grayish-blue;
        font-weight: 300;
        line-height: 1.8;
        font-size: $paragraph-size;
    }
    
    &:last-child {
        border: 0;
        margin: 0;
    }
}

@media screen and (min-width: 1440px) {
    .News {

        &_title {
            font-size: $desktop-title-size;
        }

        &_paragraph {
            font-size: $desktop-paragraph-size;
        }
    }
}