@import 'styles/variables';

.Menu {

    &_btn {
        border: 0;
        background-color: inherit;
        cursor: pointer;
    }
    
    &_closeBtn {
        position: fixed;
        top: 2rem;
        margin-left: 2rem;
    }
    
    ul {
        list-style: none;
        margin: 7rem 2.5rem;

        li {
            margin-bottom: 2rem;
            font-size: $title-size;
            font-weight: $font-normal;
            color: $dark-blue;
            cursor: pointer;
        }
    }
    
    &___hidden {
        display: none;
        background-color: #fff;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width:70vw;
        z-index: 15;
    }

    &___visible {
        display: block;
    }

    &_backdrop___hidden {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000000;
        opacity: .3;
        z-index: 10;
    }
    
    &_backdrop___visible {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .Menu___desktop {
        ul {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(5, auto);
            column-gap: 3rem;

            li {
                font-size: $desktop-paragraph-size;
                font-weight: $font-normal;
                color: $dark-blue;
                cursor: pointer;
            }

            li:hover {
                color: $red;
            }
        }
    }
}