.Main {
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 4rem;
}

@media screen and (min-width: 1024px) {
    .Main {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            'banner banner recent'
            'main main recent'
            'popular popular popular'
        ;
        column-gap: 3rem;
    }
}