@import 'styles/variables';

.PopularNews {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2rem;
}

@media screen and (min-width: 1024px) {
    .PopularNews {
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        grid-area: popular;

        padding-top: 2rem;
    }
}