@import 'styles/variables';

.mostReadNews {
    margin: 4rem 0;

    .news {
        display: grid;
        grid-template-columns: minmax(100px, 150px) minmax(220px, 300px);
        grid-template-rows: repeat(3, auto);
        gap: 0 1rem;

        margin-bottom: 2rem;

        img {
            width: 100%;
            grid-row: 1 / 4;
        }

        span {
            color: $light-grayish-blue;
            font-weight: 700;
            font-size: 2.5rem;
            align-self: start;
        }

        h3 {
            color: $dark-blue;
            font-size: 1.3rem;
            font-weight: 800;
            align-self: center;
        }

        h3:hover {
            color: $red;
            cursor: pointer;
        }

        p {
            color: $grayish-blue;
            font-size: 1rem;
            line-height: 2;
            align-self: end;
        }
    }
}