@import 'styles/variables';

.mostReadNews {
    margin: 5rem 0;

    .news {
        display: grid;
        grid-template-columns: minmax(100px, 150px) minmax(220px, 400px);
        grid-template-rows: repeat(3, auto);
        gap: 0 1rem;

        margin-bottom: 2rem;
        max-width: 600px;

        img {
            width: 100%;
            grid-row: 1 / 4;
        }

        span {
            color: $light-grayish-blue;
            font-weight: 700;
            font-size: 8vw;
        }

        h3 {
            color: $dark-blue;
            font-size: 5vw;
        }

        p {
            color: $grayish-blue;
            font-size: 4.2vw;
        }
    }
}