@import 'styles/variables';

.mostReadNews {
    margin: 4rem 0 3rem 0;

    .news {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        gap: 0 .5rem;

        margin-bottom: 2rem;

        img {
            width: 100%;
            grid-row: 1 / 4;
        }

        span {
            color: $light-grayish-blue;
            font-size: 11vw;
            font-weight: 700;
            align-self: start;
        }

        h3 {
            color: $dark-blue;
            font-size: $title-size;
            font-weight: 800;
            line-height: 1.3;
            align-self: center;
        }

        h3:hover {
            color: $red;
            cursor: pointer;
        }

        p {
            color: $grayish-blue;
            font-size: $paragraph-size;
            line-height: 1.3;
            align-self: end;
        }
    }
}