@import 'styles/variables';

.RecentNews {
    background-color: $dark-blue;
    padding: 0 1.5rem;

    &_sectionTitle {
        color: $orange;
        font-size: 9vw;
        padding: 2rem 0 1.5rem 0;
    }
}

@media screen and (min-width: 1024px) {
    .RecentNews {
        grid-area: recent;

        &_sectionTitle {
            font-size: 3vw;
        }
    }
}