@import 'styles/variables';

.News {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    gap: 0 .5rem;

    &_image {
        width: 100%;
        grid-row: 1 / 4;
    }

    &_order {
        color: $light-grayish-blue;
        font-size: 11vw;
        font-weight: 700;
        align-self: start;
    }

    &_title {
        color: $dark-blue;
        font-size: $title-size;
        font-weight: 800;
        line-height: 1.3;
        align-self: center;
    }

    &_title:hover {
        color: $red;
        cursor: pointer;
    }

    &_paragraph {
        color: $grayish-blue;
        font-size: $paragraph-size;
        line-height: 1.3;
        align-self: end;
    }
}

@media screen and (min-width: 1440px) {
    .News {

        &_order {
            font-size: 2.5vw;
        }

        &_title {
            font-size: $desktop-title-size;
        }

        &_paragraph {
            font-size: $desktop-paragraph-size;
        }
    }
}